.cardetails{
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom:2rem;
    overflow: hidden;
    &__image{
        width:75%;
        display: flex;
        margin: auto;
        margin-top: 2rem;
    }
    &__name{
        font-size: 1rem;
        position: relative;
        top: -3rem;
        left: 5rem;
        font-size: 1rem;
        position: relative;
    }
    &__date-and-km{
        margin-left:2rem;
        margin-right:2rem;
        display:flex;
        justify-content: space-around;
        margin-top: -2.5rem;
        padding-bottom:1rem;
        border-bottom: .1rem solid #9E8D6C;
    }
    &__km-left{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0;
    }
    &__km-left-label{
        font-size: 0.5rem;
        margin: 0;
        color: lightgray;
    }
    &__date{
        font-size: 0.5rem;
        margin: 0;
    }
    &__date-purchased{
        font-weight: bold;
        margin: 0;
        margin-top:.6rem;
    }
    &__date-purchased-label{
        color: lightgray;
        margin: 0;
    }
}