body {
  background-color: #86c1e2;
}
.main-container {
  display: flex;
  align-self: center;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.733);
}

.container-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 5rem;
    height: 5rem;
    margin-right: 0.25rem;
    margin-bottom: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__input {
    height: 1rem;
    border-radius: 0.5rem;
    text-indent: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.541);
  }
  &__label {
    color: #5c93cc;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 2rem;
    width: 5.5rem;
    background-color: #5c93cc;
    color: white;
    border-radius: 0.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
