body {
  background-color: #9e8d6c;
}
.main-container {
  display: flex;
  align-self: center;
  height: 90vh;
  background-color: #4b4b4b;
}

.container-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 400;
  margin-bottom: 4rem;

  &__logo {
    width: 5rem;
    height: 5rem;
    margin-right: 0.25rem;
    margin-bottom: 2rem;
  }
}

.subheader {
  color: white;
  font-weight: 400;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;

  &__input {
    height: 1.5rem;
    border-radius: 1rem;
    text-indent: 0.5rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 0.541);
    border: none;
    width: 50vw;
  }
  &__label {
    color: white;
    font-weight: 300;
    margin-bottom: 0.25rem;
  }
  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 2rem;
    width: 30vw;
    background-color: #9e8d6c;
    color: white;
    border-radius: 1rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: none;
  }
}
